
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300;1,400&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300&display=swap');

/*Paars #5722CD;
Blauw #4845E4;
Roze #ED4385;
Zwart #0C0C0C (voor standaard tekst);
Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:
Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)
Grijs #7A7A7A (voor de service-tegel tekst); */

*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}


/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/


/* ------------------------------- 1. Global Styles -------------------------------- */



/* ------------------------------- 2. Typography ----------------------------------- */

:root {
    --default-margin: 16px;
    --purple:#5722CD;
    --blue:#4845E4;
    --lightpurple:#F2F0FF;
    --lightgrey:#F3F6F9;
    --grey:#7A7A7A;
    --font-family: 'Roboto', sans-serif;
}

h2{
    font-family: 'Merriweather', serif;
    font-size:1.5em;
}

/* ------------------------------- 3. Layout --------------------------------------- */
.outer-content-container{
    display:flex;
    width:100vw;
    justify-content:center;
}

.inner-content-container{
    display:flex;
    flex-direction:column;
    max-width: 1000px;
    flex-grow: 0;
    flex-shrink: 1;
    border: 2px dashed green;


    /*gap:20px;*/
}

header{
    background: rgb(72,69,228);
    background: linear-gradient(90deg, rgba(72,69,228,1) 0%, rgba(87,34,205,1) 100%);
    width:100%;
    border: 2px dashed yellow;
    position:relative;
    height:500px;
    padding:10px;
    max-height:400px;
}

main {
    padding: 10px;
    /*display: flex;*/
    /*flex-direction: column;*/
    text-align: center;
    font-family:var(--font-family);
}

footer{
    background-color:black;
    color:white;
    padding:1.5em;
    text-align: center;

}

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

.div-text-header{
    display:flex;
    justify-content:flex-end;
}

 .header-content__navigation ul{
     display:flex;
     flex-direction:row;
     justify-content:flex-end;
     border: 2px dashed green;
     flex-basis:200px;
     flex-grow:0;
     flex-shrink:1;
     gap:15px;
 }

.header-content__navigation li{
    border: 2px dashed black;
    display:flex;
    font-family: 'Merriweather', serif;
    list-style: none;
}
.header-content__navigation a{
    color:white;
    text-decoration: none;
}

.header-content__cta{
    display:flex;
    gap:20px;
    flex-direction:column;
    border: 2px dashed purple;
    align-items:center;
    flex-basis:200px;
    flex-grow:0;
    flex-shrink:1;
    padding:40px;
    color:white;
    font-family: 'Merriweather', serif;
    text-align:center;
}

.header-squiggle{
    background-image:url(/assets/squiggle_line_stripe.svg);
    position: absolute;
    width: 80px;
    height:80px;
    bottom:-10px;
    left: calc(50% - 40px);
}

button{
    background-color:#ED4385;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius:30px;
    margin:20px;
    text-transform: uppercase;
    box-shadow: 5px 5px 24px rgba(0,0,0,0.20);
}


/* --------------- 4.2 Introduction ------------------- */

.main-section1-section{
    display:flex;
    justify-content:center;
}

.layout-section-hello{
    display:flex;
    flex-direction: column;
    flex-basis:400px;
    padding: 50px 200px;
    max-height:350px;
    border: 2px dashed purple;
    justify-content:center;
}


.main-article1__text1{
    color:var(--purple);
    margin:30px;
    display:flex;
    flex-direction:column;
    border: 2px dashed greenyellow;
    font-size:20px;
    font-family: 'Merriweather', serif;
}


.main-article1__text2{
    text-align:center;
}


/* --------------- 4.3 sections ------------------- */

.main-section2-section{
    padding:30px;
    background-color:var(--lightgrey);
}

.main-section2-article{
    display:flex;
    flex-direction:row;
    padding:1em;
    margin:2em;
    border: 2px dashed blue;
    align-items:center;
}

.main-section2-three-blocks{
    display:flex;
    flex-direction:column;
    border: 2px dashed purple;
    text-align:left;
    padding-top:5em;
}

.Variety{
    flex-direction:row-reverse;
}

.img-3blocks {
    width: 100%;
    }

.image-wrapper {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
    box-shadow: 1px 1px 24px rgba(0,0,0,0.20);
    min-width:50px;
}

.main-section2-div{
    display:flex;
    flex-direction:column;
    flex-basis:300px;
    flex-grow:0;
    flex-shrink:0;
    margin:3em;
    gap:1em;
    border: 2px dashed darkslategrey;
    align-items:center;
}

.main-view-project{
    color:var(--purple);
    text-transform: uppercase;

}

.squiggle-main{
    width:4em;
    height:4em;
}

.main-selection3__section{
    padding:3em;
    border: 2px dashed deeppink;
}

.main-section3__div{
    display:flex;
    flex-direction:row;
    border: 2px dashed forestgreen;
    flex-wrap:wrap;
    justify-content:space-evenly;
    padding:3em;
    background-color:var(--lightgrey)
}

.main-section3-six-blocks{
    display:flex;
    flex-direction:column;
    height:20em;
    justify-content:center;
    text-align:left;
    flex-basis:400px;
    padding: 1em;
    border: 2px dashed darkblue;
    gap:1.3em;
    color:var(--grey);
    margin:1em;
}

.main-section3-six-blocks h2{
    color:var(--purple);
}

.main-section3-icons{
    height:7em;
    width:7em;
}

.main-section3__title{
    background-color: var(--purple);
    gap:20px;
    border: 2px dashed purple;
    align-items:center;
    flex-basis:200px;
    flex-grow:0;
    flex-shrink:1;
    padding:15px;
    font-family: 'Merriweather', serif;
    text-align:center;
    color:white;
}


h2 {
    font-size:0.9em;
}

.section3-form{
    background-color: var(--purple);
    gap:20px;
    border: 2px dashed purple;
    align-items:center;
    flex-basis:200px;
    flex-grow:0;
    flex-shrink:1;
    padding:40px;
    font-family: 'Merriweather', serif;
    text-align:center;
}

input [type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color:white;
    font-size: 1.5em;

}

/* ------------------------------- 5. Media Queries -------------- */

